{% extends 'apps/base/include.html' %}

{% block body %}
    <div class="container" id="productsList">
                <div class="content_grid">
                    <div class="row">

                        {% for product in products %}
                            <div class="col-6 mb-3 col-md-6 col-lg-4">
                                <div class="border rounded-1 d-flex flex-column justify-content-between pb-3">
                                    <div class="overflow-hidden">
                                        <div class="position-relative rounded-top overflow-hidden">
                                            <a class="d-block" href='{% url 'product-detail' product.slug %}'><img
                                                    class="img-fluid rounded-top"
                                                    src="{{ product.image.url }}" alt=""></a>
                                        </div>
                                        <div class="p-2">
                                            <h5 class="fs-0"><a class="text-dark"
                                                                href="{% url 'product-detail' product.slug %}">{{ product.name }}</a>
                                            </h5>
                                            <p class="fs--1 mb-2"><a class="text-500"
                                                                     href="{% url 'product-list' product.category.slug %}">{{ product.category.name }}</a>
                                            </p>
                                            <h5 class="fs-md-2 text-warning mb-0 d-flex align-items-center mb-2"> {{ product.price }}
                                                <!-- <del class="ms-2 fs--1 text-500">180 000 so'm </del> -->
                                            </h5>
                                            <p></p>
                                        </div>
                                    </div>


                                    <div class="d-flex flex-between-center px-3">
                                        <div>
                                            <span class="fa fa-star text-warning"></span><span
                                                class="fa fa-star text-warning"></span><span
                                                class="fa fa-star text-warning"></span><span
                                                class="fa fa-star text-warning"></span><span
                                                class="fa fa-star text-300"></span><span class="ms-1">
                                                </span>
                                        </div>
                                        <div>
                                            <a class="btn btn-sm btn-falcon-default like-button{% if product.pk in liked_products_id %} bg-danger {% endif %}"
                                               href="#!" data-bs-toggle="tooltip" data-bs-placement="top"
                                               data-product-id="{{ product.pk }}" title="Add to Wish List"><span
                                                    class="far fa-heart "></span></a><a
                                                class="btn btn-sm btn-falcon-default" href="#!"
                                                data-bs-toggle="tooltip" data-bs-placement="top"
                                                title="Add to Cart"><span class="fas fa-cart-plus">

                                            </span>
                                        </a>
                                        </div>
                                </div>
                                </div>
                            </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
	
{% endblock %}