{#================ phone number ajax ==========================#}

<script>
    $('#phone-mask').inputmask({
        "mask": "+\\9\\98(99) 999-99-99"
    });
    $('#messages-modal').modal('show');
</script>


{#------------------- district -0000000000000000#}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#id_region').change(function () {
            var region_id = $(this).val();
            console.log(region_id)
            if (region_id) {
                $.ajax({
                    url: '{% url "get_districts" %}',
                    data: {
                        'region_id': region_id
                    },
                    success: function (data) {
                        $('#id_district').empty();
                        $('#id_district').append('<option value="">Tumanni tanlang</option>');
                        $.each(data, function (key, value) {
                            $('#id_district').append('<option value="' + value.id + '">' + value.name + '</option>');
                        });
                    }
                });
            } else {
                $('#id_district').empty();
                $('#id_district').append('<option value="">Tumanni tanlang</option>');
            }
        });
    });
</script>


{#---------------- wishlist ---------------------------#}
<script type="text/javascript">
    $(document).ready(function () {
        $('.wish-btn').click(function () {
                const product_id = $(this).data('product-id');
                var button = $(this);
                var csrftoken = getCookie('csrftoken');

                if (product_id) {
                    $.ajax({
                        url: '{% url "wishlist" %}',
                        type: 'POST',
                        data: {
                            'product_id': product_id
                        },
                        beforeSend: function (xhr, settings) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (response) {
                            console.log("AJAX response:", response.response);
                            if (response.response === true) {
                                button.addClass('bg-danger');
                            } else {
                                button.removeClass('bg-danger');

                            }

                        },
                        error: function (xhr, status, error) {
                        }
                    });
                } else {

                }
            }
        )
        ;
    });
</script>


{#=================== oqim formasi =============================== #}

<script>
    $('.btn_open_modal').on('click', function () {
        let product_id = $(this).attr('name');
        let discount_price = $('#id_dis').text();
        $('#hidden_product').val(product_id);
        $('#id_discount').attr("placeholder", "Chegirma miqdori: " + discount_price + " gacha");

    })
</script>