{% extends 'apps/base_include/base.html' %}
{% load humanize %}
{% block main %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-modal="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Oqim yaratish</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" class="form-class">
                                {% csrf_token %}
                                
                                <input name="product_id" type="hidden" id="hidden_product">

                                Oqim nomi <input type="text" name="title" class="form-control" placeholder=""
                                                 mt-2="Oqim uchun nom kiriting" required="" id="id_title">

                                Chegirma <input type="text" name="discount_price" class="form-control" 
                                                id="id_discount">
                                <input type="submit" class="btn btn-primary mt-4" value="Oqim yaratish">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mb-7 border-bottom-4">
                <div class="header_tab_menu ">
                    <div class="header_menu active" style="overflow: auto">
                        <a href="{% url 'market-list' 'all' %}"
                           class="btn btn-default {% if slug == 'all' %} active {% endif %}">
                            Barchasi
                        </a>
                        {% for category in categories %}
                            <a href="{% url 'market-list' category.slug %}"
                               class="btn btn-default {% if slug == category.slug %} active {% endif %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}


                    </div>
                </div>
            </div>
            <div class="container" id="productsList">
                <div class="content_grid">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-4 p-2">
                                <div class="card">
                                    <a href="{% url "product-detail" product.slug %}" target="_blank">
                                        <img class="card-img-top" src="{{ product.image.url }}"
                                             alt="GIONEE FLIP 14 PRO">
                                    </a>
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <a href="/product-detail/gionee-flip-14-pro" target="_blank"
                                               style="color: red">
                                                {{ product.name }}
                                            </a>
                                        </h5>
                                        <p class="text-muted"> {{ product.price|floatformat:0|intcomma }} so'm </p>
                                    </div>

                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item" >To'lov: <strong id="id_dis">{{ product.seller_price }} </strong></li>

                                        <li class="list-group-item">Zaxirada: <strong> {{ product.quantity }}
                                            ta </strong>
                                        </li>

                                    </ul>

                                    <!-- <form method="post"> <input type="hidden" name="csrfmiddlewaretoken" value="I8oC3fRH13jgpYUnJHTnqxTRGshXqpN9t2Db2cBG0VM2PF4vvkFEC6qLPgQxAd3d"> <input type="hidden" name="product_id" value="492"> <input type="submit" value="Oqim yaratish" class="btn btn-primary"> </form> -->

                                    <a href="https://t.me/c/2007977732/1536" class="btn bg-danger text-white mt-2 mb-2">Reklama
                                        Posti</a>
                                    <button class="btn btn-primary btn_open_modal" type="button" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" name="{{ product.id }}">
                                        Oqim yaratish
                                    </button>
                                    <a href="/admin_page/product/492" class="btn bg-danger text-white mt-2">Batafsil</a>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}